<button id="new-post" type="button" class="button">Create New Post</button>

<form class="post-form hide">
  <div>
    <label for="form-post-title">Title:</label>
    <input type="text" id="form-post-title" />
  </div>
  <div>
    <textarea name="form-post-body"></textarea>
  </div>

  <div>
    <button type="submit" class="submit button">Post</button>
  </div>
</form>

{{#if posts}}
  {{#each posts as |post|}}
    <div class="card">
      <article id="{{post.id}}">

        <div class="card-divider">
          <h4 id="post-title">{{post.title}}<a href="/post/{{post.id}}">
              >></a></h4>
        </div>
        <div class="card-section">
          <p id="post-content">{{post.content}}</p>

          <div class="posted-by">
            Posted by
            {{post.user.username}}
            on
            {{post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
          </div>
        </div>

        <div class="card-section">
          <button id="edit-post" type="button" class="button">Edit</button>
          <button id="save-post" type="button" class="button hide">Save</button>
          <button id="del-post" type="button" class="button">Delete</button>
        </div>

        <div class="card-section">
          <div class="comments">
            {{#each post.comments}}
              <section class="comment">
                <div class="meta">
                  {{user.username}}
                  on
                  {{created_at}}
                </div>
                <div class="text">
                  {{comment_text}}
                </div>
              </section>
            {{/each}}
          </div>
        </div>

      </article>
    </div>
  {{/each}}
{{else}}
  <p>You haven't made any posts yet. Use the form below to submit your first
    post!</p>
{{/if}}

<script src="/javascript/dashboard.js"></script>