<button id="new-post" type="button" class="button">Create New Post</button>

<form class="post-form hide">
  <div>
    <label for="form-post-title">Title:</label>
    <input type="text" id="form-post-title" />
  </div>
  <div>
    <textarea name="form-post-body"></textarea>
  </div>

  <div>
    <button type="submit" class="submit button">Post</button>
  </div>
</form>

{{#if posts}}
  {{#each posts as |post|}}
    <div class="card">
      <article id="{{post.id}}">

        <div class="card-divider">
          <h4 id="post-title">{{post.title}}</h4>
        </div>
        <div class="card-section post-content">

          <p id="post-content">{{post.content}}</p>
        </div>

        <div class="card-section post-info">
            <div class="posted-by">
              Posted by
              <b>{{post.user.username}}</b>
              on
              {{post.created_at}}
              |
              <a href="/post/{{post.id}}">{{post.comments.length}}
                comment(s)</a>
            </div>
            {{#if post.updated_at}}
              <div class="updated-at">
                Updated at
                {{post.updated_at}}
              </div>
            {{/if}}
          </div>

          <div class="card-section" id="postEditBtns-{{post.id}}">
            <button id="edit-post" type="button" class="button primary">Edit</button>
            <button id="save-post" type="button" class="button primary hide">Save</button>
            <button id="del-post" type="button" class="button primary">Delete</button>
          </div>

        </div>

        <div class="card-section">
          <div class="comments">
            {{#each post.comments}}
              <section class="comment">
                <div class="meta">
                  <b>{{user.username}}</b>
                  on
                  {{created_at}}
                </div>
                <div class="text">
                  {{comment_text}}
                </div>
              </section>
            {{/each}}
          </div>
        </div>

      </article>
    </div>
  {{/each}}
{{else}}
  <p>You haven't made any posts yet. Click "Create New Post" to start making
    waves!</p>
{{/if}}

<script src="/javascript/dashboard.js"></script>