{{#if posts}}
  <ol>
    {{#each posts as |post|}}
      <li>
        <article id="{{post.id}}">
          <h4 id="post-title">{{post.title}}<a href="/post/{{post.id}}"> >></a></h4>
          <p id="post-content">{{post.content}}</p>
          <div>
            Posted by
            {{post.user.username}}
            on
            {{post.created_at}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
          </div>

            {{!-- {{#if isPostUser}} --}}
            <button id="edit-post">Edit</button>
            <button id="save-post" class="hide">Save</button>
            <button id="del-post">Delete</button>
            {{!-- {{/if}} --}}

          <div class="comments">
            {{#each post.comments}}
              <section class="comment">
                <div class="meta">
                  {{user.username}}
                  on
                  {{created_at}}
                </div>
                <div class="text">
                  {{comment_text}}
                </div>
              </section>
            {{/each}}
          </div>
        </article>
      </li>
    {{/each}}
  </ol>
{{else}}
  <p>You haven't made any posts yet. Use the form below to submit your first
    post!</p>
{{/if}}

<button id="new-post">Create New Post</button>

<form class="post-form hide">
  <div>
    <label for="form-post-title">Title:</label>
    <input type="text" id="form-post-title" />
  </div>
  <div>
    <textarea name="form-post-body"></textarea>
  </div>

  <div>
    <button type="submit">Post</button>
  </div>
</form>

<script src="/javascript/dashboard.js"></script>