{{#each posts as |post|}}
  <div class="card">
    <article>
      <div class="card-divider">
        <h4>{{post.title}}</h4>
      </div>
      <div class="card-section post-content">
        <p>{{post.content}}</p>
      </div>
      <div class="card-section post-info">
        <div class="posted-by">
          Posted by
          <b>{{post.user.username}}</b>
          on
          {{formatDate post.created_at}}
          at
          {{formatTime post.created_at}}
          |
          <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
        </div>

        {{#if post.updated_at}}
          <div class="updated-at">
            Updated at
            {{formatTime post.updated_at}}
            on
            {{formatDate post.updated_at}}
          </div>
        {{/if}}
      </div>
    </article>
  </div>
{{/each}}