<article>
    <h4>{{post.title}}</h4>
    <p>Posted by {{post.user.username}} on {{post.created_at}}</p>
    <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
  </div>
  {{#if loggedIn}}
    {{!-- {{#if isPostUser}} --}}
      <button id="edit-post">Edit</button>
      <button id="del-post">Delete</button>
    {{!-- {{/if}} --}}
  {{/if}}
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add comment</button>
  </div>
</form>
{{/if}}

<div class="comments">
  {{#each post.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/dashboard.js"></script>
{{/if}}